<launch>
		
		
	<arg name="frame_id_arg" default="esr_1"/>	
		
	<node name="delphi_esr_translator" pkg="delphi_esr_translator" type="delphi_esr_translator_node" output="screen">
	
	<param name="running_from_bag" type="bool" value="false"/>
	<param name="publish_tf" type="bool" value="false"/>
	<param name="frame_id" type="string" value="$(arg frame_id_arg)"/>
	<param name="namespace" type="string" value="esr_1"/>
	
	</node>
	
</launch>